body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #212529;
}

a:link {
  text-decoration: none;
  color: #e167ff;
}

/* HEADER */
.main-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #343a40;
}

.header-options {
  display: flex;
  gap: 30px;
}
