* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #1f2225;
  user-select: none;
}

.header-link {
  text-decoration: none;
  color: #f0b3ff;
  cursor: pointer;
  padding: 0 5px;
}
.header-link:hover {
  background-color: #2b3035;
}

/* HEADER */
.main-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #23272b;
  height: 60px;
}

.header-options {
  display: flex;
  gap: 30px;
}

.search-bar {
  display: flex;
  align-items: center;
  height: 100%;
}

.search-bar-input {
  background-color: #1f2225;
  color: #fff;
  outline: none;
  border-radius: 10px;
  border: solid 1px rgb(90, 90, 90);
  height: 50%;
  padding: 0 15px;
}

.search-bar-input::placeholder {
  color: #f0b3ff8c;
}

.search-bar-input:focus::placeholder {
  color: transparent;
}

/* MOVIES CONTAINER */
.display-movies-container {
  padding: 0 4em;
  margin: 0 auto;
}

.movies {
  display: flex;
  width: 100%;
  max-height: 85vh;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  overflow: auto;
  scroll-behavior: smooth;
}

.movies::-webkit-scrollbar {
  display: none;
}

.movie {
  position: relative;
  width: 250px;
  overflow: hidden;
  max-height: 380px;
}

.movie img {
  max-width: 100%;
  height: 100%;
}

.overview {
  background-color: #fff;
  overflow: auto;
  max-height: 100%;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}

.movie-info {
  position: absolute;
  display: flex;
  width: 250px;
  align-items: center;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.39);
  color: #fff;
  padding: 4px 5px;
  justify-content: space-between;
}

.movie:hover .overview {
  transform: translateY(0%);
}

.rating {
  display: flex;
  align-items: center;
}

.no-movies-msg {
  text-align: center;
  color: #fff;
  margin-top: 40px;
}

/* BTN */
.page-btn {
  border: none;
  padding: 5px 20px;
  border-radius: 10px;
  background-color: #befae1;
  transition: all 0.3s;
  cursor: pointer;
  color: #260738;
  font-weight: 700;
}

.page-btn:hover {
  background-color: #87af9f;
}

.display-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 20px;
}

/* ICONS */
.icon-star {
  color: rgb(255, 230, 2);
}

@media (max-width: 768px) {
  .main-header {
    flex-direction: column;
    height: 120px;
  }
  .search-bar {
    height: 50px;
  }
  .search-bar-input {
    height: 80%;
    min-width: 310px;
    font-size: 18px;
  }
  .header-options h3 {
    margin-bottom: 0;
  }
  .movies {
    max-height: 70vh;
  }
}
